<!DOCTYPE html>

<html>


<head>


<title>

Dashboard

</title>



<link rel="stylesheet"

href="{{url_for('static',

filename='css/style.css')}}">


</head>



<body>



<div class="dashboard">



<h1>

Admin Dashboard


</h1>




<div class="cards">



<div class="box">


<h2>


5000


</h2>



<p>

Total Complaints


</p>


</div>




<div class="box">



<h2>


3200


</h2>


<p>


Resolved


</p>



</div>




<div class="box">



<h2>


1800


</h2>



<p>


Pending


</p>


</div>





<div class="box">


<h2>


700


</h2>


<p>


High Priority


</p>



</div>



</div>




<table>



<tr>


<th>


Complaint


</th>



<th>

Category


</th>



<th>


Status


</th>


</tr>





<tr>


<td>


AC not working


</td>



<td>


AC Issue


</td>



<td>


Pending


</td>


</tr>



<tr>


<td>


Dirty Washroom


</td>



<td>


Cleanliness


</td>



<td>


Resolved


</td>


</tr>



</table>



</div>



</body>



</html>